/* CircularProgressBar.css */
.circular-progress {
    width: 100px;
    height: 100px;
  }
  
  .progress {
    fill: none;
    stroke: #8feff5;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-dasharray: 0 100;
    transition: stroke-dasharray 1s ease-in-out;
    position: relative;
  }
  
.circle-container{
    display: inline-block;
    margin: 10px 20px;
    text-align: center;
}

  
