/* Contact.css */
.contact-form{
  padding: 80px 0 100px 0;
}
.contact-form h1 {
    font-size: 50px!important;
    margin-bottom: 30px;
  }
  
 
  
 .contact-form input{
   
    margin-bottom: 20px;
    border: 1px solid #aa03f8dd;
     border-radius: 50px ;
  }
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #c300ffbc ; /* Change to your desired focus border color */
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 247, 0.477); /* Adjust as needed */
  }

  
  .contact-form textarea{
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #aa03f8dd;
  
    border-radius: 30px;
  }
  
 

  
 
  
  
  
 
  