/************ Home Css ************/
.home {
    margin-top: 0;
    padding: 100px 0 100px 0;
   
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .home .tagline {
    font-weight: 1000;
    letter-spacing: 0.8px;
    padding: 8px 20px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 253, 253, 0.5);
    font-size: 40px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .home h1 {
    color: #55598b;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.25;
    margin-bottom: 20px;
    display: block;
  }
  .home p {
    color: #b8b8b8a3;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .home img{
    height: 500px;}
    .Typewriter__wrapper {
        font-size: 1.5em !important;
        color: #050505 !important;
       
      }
      .Typewriter__cursor {
        font-size: 2.4em !important;
        color: #b562d6 !important;
      } 
      @media (max-width: 767px) {
        .Typewriter__wrapper {
          font-size: 1.4em !important;
          font-weight: 500 !important;
          position: absolute !important;
        }
        .Typewriter__cursor {
          display: none !important;
        }
      } 

      .wave {
        animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
        animation-duration: 2.1s; /* Change to speed up or slow down */
        animation-iteration-count: infinite; /* Never stop waving :) */
        transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
        display: inline-block;
      }
      
      @keyframes wave-animation {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(14deg);
        } /* The following five values can be played with to make the waving more or less extreme */
        20% {
          transform: rotate(-8deg);
        }
        30% {
          transform: rotate(14deg);
        }
        40% {
          transform: rotate(-4deg);
        }
        50% {
          transform: rotate(10deg);
        }
        60% {
          transform: rotate(0deg);
        } /* Reset for the last half to pause */
        100% {
          transform: rotate(0deg);
        }
      }