/* YourComponent.css */
.navbar{

  backdrop-filter: blur(5px);
  font-size: large;
  padding-top: 10px;
  color: rgb(4, 4, 4);
 
  
}
.navbar-link {
  position:relative;
  padding: 0.5rem 1rem;
  color:#000000f4;
  font-size: medium;
  font-weight: 500;
  transition: color 0.5s ease-in-out;
  
}

.navbar-link.active {
  color:#aa03f8dd!important;
  
  backdrop-filter: blur(100px);
   

}

/* Add the line under the link items */
.navbar-link::after {
  content: '';
  position: absolute;
  padding-top: 0%;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 100px ;
  background-color: #aa03f8dd;
  /* Line color */
  transition: width 0.3s ease-in-out;
}

/* Increase the line width when hovering */
.navbar-link:hover::after,
.navbar-link.active::after {
  width: 100%;
  text-align: center;
  border-radius: 100px ;
}

