/* YourComponent.css */

.navbar{

  backdrop-filter: blur(5px);
  font-size: 1.2rem !important;

  color: rgb(4, 4, 4);
  transition: all 0.3s ease-out 0s !important;
  padding-top:20px!important;
 
  
}
.navbar-link {
 
 
  color:#000000f4;
  
  
  transition: color 0.5s ease-in-out;
  z-index: 1;
  
}

.navbar-link.active {
  color:#aa03f8dd!important;
  
  backdrop-filter: blur(100px);
   

}

/* Add the line under the link items */
.navbar-link::after {
  content: "";
  position: relative;
  display:block;
  padding-top: 0%;
  bottom: 1px;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 16px ;
  background-color: #aa03f8dd;
  /* Line color */
  z-index: -1;
  transition: width 0.3s ease-in-out;
}

/* Increase the line width when hovering */
.navbar-link:hover::after,
.navbar-link.active::after {
  width: 100%;
  text-align: center;
  
}
@media (max-width: 800px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 2rem !important;
    
    text-align: center!important;
  }
  .navbar-link:hover::after,
  .navbar-link.navbar-link.active::after{
    display: none !important;
   
  }
}
.navbar-nav .navbar-link {
  margin: 10px 10px 10px 10px!important; /* You can adjust this value as needed */
}
