/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/


html {
  scroll-behavior: smooth;

}

body {
 
  font-weight: 400;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #fbd8dd, #ffffca) !important;

 
  font-family: 'Centra', sans-serif !important;
}

/************ Navbar Css  ************/

/************ Home Css ************/
.home {
  margin-top: 0;
  padding: 100px 0 100px 0;
 
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .tagline {
  font-weight: 1000;
  letter-spacing: 0.8px;
  padding: 8px 20px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 253, 253, 0.5);
  font-size: 40px;
  margin-bottom: 16px;
  display: inline-block;
}
.home h1 {
  color: #55598b;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.25;
  margin-bottom: 20px;
  display: block;
}
.home p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.home img{
  height: 500px;}



.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/************ Footer Css ************/
.footer {
  padding: 300px 0 0 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


